<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eueh.yohonow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".volley.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcome.WelcomeFirstActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Search.SearchActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SetActivity" />
        <activity android:name=".column.columnson.ColSonActivity" />
        <activity android:name=".column.SonIn.SonInActivity" />
        <activity android:name=".video.videoviedeo.videovideoson.VideoVideoSonActivity" />
        <activity android:name=".Search.SearchSon.SearchSonActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".welcome.WelcomeActivity" android:launchMode="singleTask" />
        <activity
            android:name=".CollectActivity"
            android:theme="@style/myTransparent" />
        <activity android:name=".gridview.InCollectActivity"></activity>
    </application>

</manifest>